{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="ThemeBucket">
		<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

		<title>تم تغيير كلمة المرور بنجاح</title>

		<!--Core CSS -->
		<link href="{% static 'bs3/css/bootstrap.css' %}" rel="stylesheet">
		<!-- Bootstrap RTL Theme -->
		<link rel="stylesheet" href="{% static 'bs3/css/bootstrap-rtl.css' %}">
		<link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet">
		<link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />

		<!-- Custom styles for this template -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
	</head>

	<body class="login-body" id="vv">

		<div class="container">
				<form class="form-signin"  id="reset-pass-form"  method="post">
				<h2 class="form-signin-heading">
					تم تغيير كلمة المرور بنجاح
					يمكنك الدخول للنظام عبر هذا  <a href="{{ login_url }}">الرابط</a>
				</h2>
				</form>
		</div>

		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/jquery.cookie.js' %}"></script>
		<script src="{% static 'bs3/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/lv.js' %}"></script>
		<link href="{% static 'css/lv.css' %}" rel="stylesheet">
	</body>
	<footer>
	</footer>
</html>