{% load i18n %}{% autoescape off %}
{% blocktrans %}تم إرسال هذا البريد الالكتروني بناء على طلبك تغيير كلمة المرور ل {{ site_name }}.{% endblocktrans %}

{% trans "من فضلك اضغط على الرابط التالى:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "اسم المستخدم خاصتك فى حالة نسيانك : " %} {{ user.get_username }}

{% trans "شكرا !" %}

{% blocktrans %}  فريق عمل {{ site_name }} {% endblocktrans %}

{% endautoescape %}
