{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="ThemeBucket">
		<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

		<title>تغيير كلمة المرور</title>

		<!--Core CSS -->
		<link href="{% static 'bs3/css/bootstrap.css' %}" rel="stylesheet">
		<!-- Bootstrap RTL Theme -->
		<link rel="stylesheet" href="{% static 'bs3/css/bootstrap-rtl.css' %}">
		<link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet">
		<link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />

		<!-- Custom styles for this template -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
	</head>

	<body class="login-body" id="vv">

		<div class="container">

			<form class="form-signin"  id="change-pass-form"  method="post">
				{% csrf_token %}
				<h2 class="form-signin-heading">تغيير كلمة المرور</h2>
				
				<div class="login-wrap">
					<div class="user-login-info">
						<input type="password" class="form-control" placeholder="كلمة المرور الحالية" name="old_password" autofocus id="old_password">
						<input type="password" class="form-control" placeholder="كلمة المرور الجديدة" name="new_password1" autofocus id="new_password1">
						<input type="password" class="form-control" placeholder="تأكيد كلمة المرور الجديدة" name="new_password2" id="new_password2">
					</div>
					<button id="submit-change-password" class="btn btn-lg btn-login btn-block" type="button">
						تغيير
					</button>

				</div>
				
			</form>
			<!-- Modal -->
			<!-- modal -->

		</div>

		<!-- Placed js at the end of the document so the pages load faster -->

		<!--Core js-->
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/jquery.cookie.js' %}"></script>
		<script src="{% static 'bs3/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/lv.js' %}"></script>
		<link href="{% static 'css/lv.css' %}" rel="stylesheet">
	</body>
	<footer>
		<script type="text/javascript">
			
			var password1 = new LiveValidation('new_password1');
			var password2 = new LiveValidation('new_password2');
			var password3 = new LiveValidation('old_password');
			
			$("#submit-change-password").click(function(){
				
				password1.destroy();
				password2.destroy();
				password3.destroy();
				
				password3.add(Validate.Presence, {
					failureMessage : "من فضلك ادخل كلمة المرور الحالية",
					onlyOnSubmit : true
				});
				
				password1.add(Validate.Presence, {
					failureMessage : "من فضلك ادخل كلمة المرور الجديدة",
					onlyOnSubmit : true
				});
				
				password2.add(Validate.Presence, {
					failureMessage : "من فضلك قم بتأكيد كلمة المرور",
					onlyOnSubmit : true
				});
				
				
				
				password1.add(Validate.Length, {
					minimum : 6,
					wrongLengthMessage : "الحد الأدنى 6 حروف",
					tooShortMessage : "الحد الأدنى 6 حروف",
					onlyOnSubmit : true
				});
				
				
				password2.add(Validate.Confirmation, {
					match: 'new_password1',
					failureMessage : "غير متطابقة",
					onlyOnSubmit : true
				});
				
				
				password1.validate();
				password2.validate();
				password3.validate();
				
				if (password1.validate() && password2.validate() && password3.validate()) {
					$('#change-pass-form').submit();
				}
			});
			
			{% if form.errors %}
				password2.add(Validate.Presence, {
						failureMessage : "من فضلك تأكد من صحة كلمة المرور الحالية",
						onlyOnSubmit : true
				});
				
				password2.validate();	
							
			{% endif %}

		</script>
	</footer>
</html>